.formLayout form {
	margin: 0;
	padding: 0;
}

.formLayout fieldset {
	margin:  0;
	border: none;
	border-top : solid 1px;
}

.formLayout fieldset .sub{

	border-style: solid;
	border-width: 1px;
}



.formLayout fieldset legend {
	margin: 0.2em 0;
	padding: 0 .em;
	background: transparent;
}


.formLayout fieldset.centerform label {
	float:left;
	clear:both;
	width: 200px;
	padding: 0 1em;
	text-align: right;
}




.formLayout fieldset label {
	clear:both;
	display:block;
	width: auto;
	text-align: left;
}


.formlayout fieldset > fieldset{
border : none;

}


.formLayout fieldset div {
	margin-bottom: .5em;
	padding: 0;
	display: block;
}

.formLayout fieldset input {
	padding: 1px;
}

.formLayout fieldset select {
	padding: 1px;
	width:200px;
}
.formLayout fieldset textarea {
	width: 300px;
	height:100px;
	padding: 1px;
}


.formLayout .indent{
	padding-left:150px;
}



.formLayout .submitButton{
	width:100%;
	text-align:right;
}


.formLayout br{clear:both}



.formLayout fieldset input[type=text]{
	width:200px;
}



